@model MessageConsoleViewModel

@{
  ViewBag.Title = "Message Console";
}

<h2>Message Console</h2>

<h3>Event: @Model.EventName</h3>
<div>
  <ul class="nav nav-pills">
    @foreach (var templateName in Model.TemplateNames)
    {
      <li role="presentation" class="active"><a href="#">@templateName</a></li>
    }
    <li role="presentation" class=""><a href="#">Create New Message</a></li>
  </ul>
</div>

@*
  <select class="form-control">

    @{
      <option value="">-- Select Template --</option>
      foreach (var templateName in Model.TemplateNames)
      {
        <option value="@templateName">@templateName</option>
      }
    }
  </select>
*@


@using (Html.BeginForm("SendAll", "MessageConsole", FormMethod.Post))
        {
            @Html.TextAreaFor(m => m.MessageBody, new { @class = "form-control" })
  <hidden name="EventId" value="@Model.EventId"></hidden>
  <button type="submit" class="btn btn-default">Send to All</button>
}
  
@section Scripts
  {
  <script>

    $(document).ready(function () {

    });

    function getTemplate(name) {

    }


  </script>
}
